.introduction__section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 100%, transparent), url(../assets/banners/cat-banner.jpg), center/cover, no-repeat border-box fixed, #121212; 
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    color: white;
}

.introduction__content-box {
    width: 70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.introduction__title {
    text-align: center;
    color: #c3c3c3;
}

.introduction__title--name {
    font-size: 4rem;
}

.introduction__section a {
    position: absolute;
    bottom: 10rem;
    right: 1rem;
}