<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitor Roberto - Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/introduction_section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about-me__section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skills__section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects__section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-me__section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-externos/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css-externos/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Scripts (js): -->
    <script src="{{ url_for('static', filename='javascript/scripts-externos/jquery.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/scripts-externos/owl.carousel.min.js') }}" defer></script>

    <script src="{{ url_for('static', filename='javascript/carousel_manager.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/toggleDisplayMobileModal.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/anchorNavigation.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/toggleNavbarActiveItem.js') }}" defer></script>
</head>
<body>
    <navbar class="navbar">
        <!--Mobile navbar: -->
        <div class="mobile-modal__opener">
            <span class="trace"></span>
            <span class="trace"></span>
            <span class="trace"></span>    
        </div>

        <div class="navbar__mobile-modal navbar__mobile-modal--disabled">
            <ul class="navbar__mobile-list">
                <a href="#inicio"><li class="navbar__mobile-list-item navbar__mobile-list-item--active">Inicio</li></a>
                <a href="#sobre"><li class="navbar__mobile-list-item">Sobre</li></a>
                <a href="#skills"><li class="navbar__mobile-list-item">Skills</li></a>
                <a href="#projetos"><li class="navbar__mobile-list-item">Projetos</li></a>
                <a href="#contato"><li class="navbar__mobile-list-item">Contato</li></a>
            </ul>
       </div>

       <!--desktop navbar: -->
       <div class="navbar__desktop-topbar">
            <ul class="navbar__desktop-list">
                <a href="#inicio"><li class="navbar__desktop-list-item navbar__desktop-list-item--active">Inicio</li></a>
                <a href="#sobre"><li class="navbar__desktop-list-item">Sobre</li></a>
                <a href="#skills"><li class="navbar__desktop-list-item">Skills</li></a>
                <a href="#projetos"><li class="navbar__desktop-list-item">Projetos</li></a>
                <a href="#contato"><li class="navbar__desktop-list-item">Contato</li></a>
            </ul>
       </div>

       <!-- <div class="theme-mode__box">
          <button class="theme-mode__button">
              <i class="fa-solid fa-lightbulb"></i>
          </button> 
       </div> -->
    </navbar>

    <section class="introduction__section" id="inicio">
        <div class="introduction__content-box">
            <h3 class="introduction__title">PORTFOLIO</h3>
            <h1 class="introduction__title introduction__title--name">Vitor Roberto</h1>
            <h3 class="introduction__title">FULL-STACK DEVELOPER</h3>
        </div>

        <a target="blank" href="https://www.pexels.com/photo/grayscale-photo-of-a-cat-2574173/">Cat photo by Gijs Coolean</a>
    </section>

    <section class="about-me__section" id="sobre">
        <div class="about-me__description-box">
            <img class="about-me__perfil-pic" src="{{ url_for('static', filename='assets/banners/perfil2.png')}}">
            <h1 class="section__main-title about-me__title">SOBRE</h1>
            <p class="section__description about-me__paragraph">Estudante de programação desde 2020, com conhecimento de front-end, back-end, mobile e banco de dados. Atualmente, estou cursando desenvolvimento full-stack na DevStars e estudando de forma independente na Udemy, DIO, Origamid, etc.  </p>
        </div>

        <div class="about-me__profile-box">
           <h2 class="section__main-title about-me__title">PERFIL</h2>
           <div class="about-me__profile-content-box">
                <h3 class="about-me__title">NOME:</h3>
                <p class="about-me__paragraph">Vitor Roberto Batista Schirmer</p>
           </div>

           <div class="about-me__profile-content-box">
                <h3 class="about-me__title">NASCIMENTO:</h3>
                <p class="about-me__paragraph">20/08/2004</p>
           </div>

           <div class="about-me__profile-content-box">
                <h3 class="about-me__title">LOCALIZAÇÂO:</h3>
                <p class="about-me__paragraph">Curitiba - Paraná</p>
           </div>

           <div class="about-me__profile-content-box">
                <h3 class="about-me__title">OCUPAÇÃO:</h3>
                <p class="about-me__paragraph">Estudante e <a class="about-me__link" href="https://www.workana.com/freelancer/40118e42119416fca8e52a1fd5df5dd9"> Freelancer</a> (Você pode acessar meu perfil do workana, que é um site de freelancer, pelo link) </p>
           </div> 
         
           <div class="about-me__profile-content-box ">
                <h3 class="about-me__title">CONTATO:</h3>
                <p class="about-me__paragraph">Email: vitor.roberto3022@gmail.com</p>
                <p class="about-me__paragraph">Telefone (WhatsApp): (+55) 41 9775-8225</p>
           </div>
        </div>
    </section>

    <section class="skills__section" id="skills">
       <h1 class="section__main-title skills__title">SKILLS</h1>
       <div class="skills__frontend">
          <h2 class="skills__title">Front-end</h2>
          <div class="skills__content-boxes">
                <div class="skills__content-box">               
                    <i class="devicon-html5-plain"></i>
                    <p>HTML 5</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-css3-plain"></i>
                    <p>CSS 3</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-javascript-plain"></i>
                    <p>Javascript</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-bootstrap-plain"></i>
                    <p>Bootstrap</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-wordpress-plain"></i>
                    <p>Wordpress</p>
                </div>

                <div class="skills__content-box">               
                    <i class="devicon-jquery-plain"></i>
                    <p>JQUERY</p>
                </div>
          </div>
       </div>        

       <div class="skills__backend">
          <h2 class="skills__title">Backend-end</h2>
          <div class="skills__content-boxes">
                <div class="skills__content-box">
                    <i class="devicon-python-plain"></i>
                    <p>Python</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-php-plain"></i>
                    <p>PHP</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-flask-original"></i>
                    <p>Flask</p>
                </div>

                <div class="skills__content-box">
                    <i class="devicon-symfony-original"></i>
                    <p>Symfony</p>
                </div>
          </div>
       </div>

       <div class="skills__database">
          <h2 class="skills__title">Banco de dados</h2>
          <div class="skills__content-boxes">
                <div class="skills__content-box">
                    <i class="devicon-mysql-plain"></i>
                    <p>MYSQL</p>
                </div>

                <div class="skills__content-box">
                    <i class="fa-solid fa-database"></i>
                    <p>SQL SERVER</p>
                </div>
          </div>
       </div>

       <div class="skills__mobile">
        <h2 class="skills__title">Mobile</h2>
        <div class="skills__content-boxes">
              <div class="skills__content-box">
                  <i class="devicon-dart-plain"></i>
                  <p>Dart</p>
              </div>

              <div class="skills__content-box">
                  <i class="devicon-flutter-plain"></i>
                  <p>Flutter</p>
              </div>
        </div>
     </div>
    </section>

    <section class="projects__section" id="projetos">
        <div class="projects__content-text">
            <h1 class="section__main-title projects__title">PROJETOS</h1>
            <h3 class="section__description projects__title">Confira alguns projetos realizados! </h3>
            <h3 class="section__description projects__title">Você pode ver mais sobre eles no meu <a target="blank" href="https://github.com/vittxr">github</a>!</h3>
       </div>
        <div class="projects__container owl-carousel owl-theme owl-loaded owl-drag">
            <a target="blank" href="https://vittxr.github.io/web-editor/"><div class="projects__item projects__item--web-editor item">
               <h3 class="project__title">Web-editor</h3>
               <p class="project__description">Editor de texto para navegador, usando o summernote do javascript. Foi meu primeiro trabalho como freelancer. Clique aqui para acessar ele! :)</p>
            </div></a>

            <a target="blank" href="https://wthcast.herokuapp.com"><div class="projects__item projects__item--wthcast item">
                <h3 class="project__title">WthCast</h3>
                <p class="project__description">Website para monitorar o clima, desenvolvido em Flask. Foi usado a api Open Weather para se obter os dados climáticos. O usuário pode fazer a busca por qualquer cidade e saber seu clima. Clique aqui para acessar ele! :) </p>
            </div></a>

            <a target="blank" href="https://niceeapi.herokuapp.com"><div class="projects__item projects__item--api item">
               <h3 class="project__title">Api</h3>
               <p class="project__description">Api desenvolvida em flask, seguindo a arquitetura REST. É possível consumi-la, sendo permitido fazer GET, POST, PUT e DELETE. Clique aqui para acessar ele! :)</p>
            </div></a>
        </div>
    </section>

    <section class="contact-me__section">
        <h1 class="section__main-title contact-me__title">CONTATO</h1>
        <h4 class="section__description contact-me__description">Ficou interessado nos meus projetos? Sinta-se livre para me mandar um e-mail ou me contatar por outras redes-sociais indexadas no rodapé! </h4>
        <form class="contact-me__form">
            <label for="inp-name" class="contact-me__inp">
                <input class='contact-me__input-text' type="text" id="inp-name" placeholder="&nbsp" name="name" required>
                <span class="contact-me__label">name</span>
            </label>

            <label for="inp-name" class="contact-me__inp">
                <input class='contact-me__input-text' type="text" id="inp-email" placeholder="&nbsp" name="email" required>
                <span class="contact-me__label">email</span>
            </label>

            <textarea class="contact-me__textarea" placeholder="escreva sua mensagem aqui..." name="msg_content"></textarea>

            <input class="contact-me__submit btn" type="submit">
        </form>
    </section>

    <footer class="contact__footer" id="contato">
       <ul class="contact__list">
          <a target="blank" href="https://github.com/vittxr"><li class="contact__item">
            <i class="fa-brands fa-github fa-xl"></i>
          </li></a>
          <a target="blank" href="https://www.linkedin.com/in/vitor-roberto-8b68a9223/"><li class="contact__item">
            <i class="fa-brands fa-linkedin fa-xl"></i>
          </li></a>
          <a target="blank" href="https://wa.me/41997758225"><li class="contact__item">
            <i class="fa-brands fa-whatsapp-square fa-xl"></i>
          </li></a>
       </ul>

       <p>Curitiba - Paraná</p>
       <p>© 2022 Vitor Roberto</p>
    </footer>

    <script>
        var form = document.querySelector(".contact-me__form")
        var inputs = document.querySelectorAll(".contact-me__input-text")
        var textarea = document.querySelector(".contact-me__textarea")

        form.addEventListener("submit", function() {
                submitForm(event)
        }) 

        function submitForm(evt) {
            evt.preventDefault();

            $.ajax({
                type: "POST",
                url: "/sendMail", 
                dataType: "json", 
                contentType: "application/json", 
                data: JSON.stringify({
                name: inputs[0].value,
                email: inputs[1].value,
                message: textarea.value   
                })
            }).done( alert("Email enviado com sucesso! Obrigado pelo contado."))          

            inputs.forEach((e, index) => {
                inputs[index].value = ""
            })
            textarea.value = ""  
        }
    </script>

</body>
</html>