@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply h-full;
}

.external-link {
    @apply text-rose-400;
    @apply hover:text-rose-500; 
    @apply transition-colors;
    @apply duration-200;
    @apply hover:underline
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #FBAB7E;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}

.grow, .grow-small {
  transform: scale(4);
  background: white;
  mix-blend-mode: difference; 
  border: none;
}

.grow-small {
  transform: scale(2);
}