@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply h-full;
}

.external-link {
    @apply text-rose-400;
    @apply hover:text-rose-500; 
    @apply transition-colors;
    @apply duration-200;
    @apply hover:underline
}

/* Home page custom cursor */
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


line {
  stroke: #3f51b5;
  stroke-width: 2;
}


/* line {
  stroke: #3f51b5;
  stroke-width: 4;
  stroke-linecap: round;
  filter: blur(4px);
  stroke-dashoffset: 50%;
} */
